$height: 60px;
$start-label-width: 80px;
$finish-label-width: 80px;
$background-color: #ccc;

.slider_start_label {
	width: $start-label-width;
	height: $height;
	float: left;
	background-color: $background-color;
	div {
		top: 50%;
		transform: translateY(-50%);
		font-size: 1.5em;
		position: relative;
	}
}
.slider_timescale {
	position: relative;
	width: auto;
	height: $height;
	margin-left: $start-label-width;
	margin-right: $finish-label-width;
	background-color: $background-color;
}
.slider_finish_label {
	width: $finish-label-width;
	height: $height;
	float: right;
	background-color: $background-color;
	div {
		top: 50%;
		transform: translateY(-50%);
		font-size: 1.5em;
		position: relative;
	}
}
.slider_start_time {
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 1em;
}
.slider_finish_time {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 1em;
}