.congratulations-container {
  position: relative;
  top: 50%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -moz-transform:    translateY(-50%);
  -ms-transform:     translateY(-50%);
  -o-transform:      translateY(-50%);
  transform:         translateY(-50%);
}
.congratulations-label {
  font-family: "Josefin Slab Bold";
  font-size: 2em;
  color: #cf5037;
  text-transform: uppercase;
}
.play-again-label {
  cursor: pointer;
  max-width: 200px;
  margin: auto;
}